//Fonts
$font-main: "Exo 2", sans-serif;
$font-accent: "Exo 2", sans-serif;

//Colors
$color-dark: #000000;
$color-light:  #ffffff;
$color-brown:#d98148;
$color-bodily:#fffaf5;
$white-antik:#faebd7;
$grade:#f9efe1;

//Media

$tablet: 959px;
